html, body {
	background: #777!important;
	color: #e1e1e1;
	height: calc(100% - 80px);
	width: calc(100% - 0px);
	margin: 0;
	padding: 0;
}

.intro button img {
	filter: brightness(0) invert(1);
	background: transparent;
}

