html, body {
	background: #999!important;
	color: #e1e1e1;
	height: calc(100% - 80px);
	width: calc(100% - 0px);
	margin: 0;
	padding: 0;
}

.intro button img {
	filter: brightness(0) invert(1);
	background: transparent;
}

.intro p {
	color: white;
}

.intro .MuiFormControl-root {
	border: 1px solid white;
	border-radius: 8px;
	color: silver;
}

.intro input {
	background-color: grey;
	border-radius: 8px;
	color: white;
	text-align: center;
}